################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VPet.Plugin.CustomDialogues/obj
/.vs
